.feat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.feat i {
    font-size: 35px;
    color:#0ec9b6;
}
.feat h3{
    font-weight: 800;
    margin:30px 0 ; 
}
.feat p {
    line-height: 1.8;
    color:#777;
    font-size:18px;
}