.special-heading{
    padding-top:60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.special-heading h1{
    font-weight: 800;
    font-size:80px;
    letter-spacing: 5px;
    color:#ebeced;   
}
.special-heading p{
    margin: -30px 0 0 ;
    font-size: 20px;
    color:#797977;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1.5px;
}